audit=false
enable-pre-post-scripts=true
fund=false
loglevel=error
package-lock=false
prefer-dedupe=true
prefer-offline=false
resolution-mode=highest
save-prefix=~
save=false
shamefully-hoist=true
strict-peer-dependencies=false
unsafe-perm=true
